fastapi
uvicorn[standard]
twilio
python-multipart
pydantic
requests
gunicorn
langgraph
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-tavily
langchain-groq
openevals
wikipedia
python-dotenv
asyncio
supabase